[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
requests = "*"
pytest-dotenv = "*"
flask-cors = "*"
pyjwt = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
