<html>
  <head>

    {% if title %}
    <title>Bender Chess - {{ title }}</title>
    {% else %}
    <title>Bender Chess</title>
    {% endif %}

  </head>

  <body>
    <header>
      <a href="{{ url_for('main.home') }}">Bender Chess</a>:

      {% if current_user.is_authenticated %}
      <a href="{{ url_for('main.profile', username=current_user.username) }}">Profile</a>
      <a href="{{ url_for('main.logout') }}">Logout</a>
      {% else %}
      <a href="{{ url_for('main.login') }}">Login</a>
      {% endif %}

    </header>
    <hr>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}

  </body>
</html>